body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
}

/* Layout */
.container {
    display: flex;
    padding: 15px;
}

/* Panels */
.left-panel, .center-panel, .right-panel {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
}

.left-panel {
    width: 25%;
}

.center-panel {
    width: 45%;
}

.right-panel {
    width: 30%;
}

/* Textarea */
textarea {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
}

/* Buttons */
.tabs button {
    margin-top: 10px;
    padding: 6px 10px;
}

.top-buttons {
    text-align: right;
    margin-bottom: 10px;
}

.blue {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 7px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.green {
    background: #22c55e;
    color: white;
    border: none;
    padding: 7px 14px;
    border-radius: 6px;
    cursor: pointer;
}

/* Boxes */
.box {
    background: #f1f5f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

/* Automaton */
.automaton {
    background: #eef2ff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    min-height: 120px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background: #1e3a5f;
    color: white;
    padding: 8px;
}

td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

/* Output */
.output-box {
    margin-top: 15px;
}

/* Parse Tree */
.tree {
    background: #eef2ff;
    padding: 15px;
    border-radius: 8px;
    min-height: 120px;
}
/* Input options */
.input-options {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.input-options label {
    cursor: pointer;
}
